@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to plain site for testing</h1>
    <p class="lead">This is a simple ASP.NET Core web site for testing purposes.</p>
    <p class="fw-bolder">Running on ASP.NET Core @Environment.Version on instance @Environment.MachineName</p>
</div>